<label for="txtSearchText">Търсене:</label> <input ng-model="searchText" id="txtSearchText" type="text" class="form-control"> <br /><br />

<table class="table table-striped">
   <tr>
      <th>Име</th>
      <th>Град</th>
      <th>Роден(а)</th>
   </tr>
   <tr ng-repeat="s in streets | filter:searchText">
      <td><a ng-href="index.html#/street/{{s.Id}}">{{ s.StreetType + ' ' + s.StreetName}}, <br/> {{s.JobTitle}}</a></td>
      <td>{{s.CityOfBirth}}</td>
      <td class="text-nowrap">{{s.DateOfBirth}}</td>
   </tr>
</table>